@charset "UTF-8";

    *{
        font-family: 'Times New Roman', Times, serif;
    }
    body {
        background-image: linear-gradient(to right, #A5A692, #F2A71B);
    }
    main {
        background-color: aliceblue;
        border-radius: 15px;
        box-shadow: 10px 10px 15px #7c560fb6;
        
        padding: 10px;
        width: 600px;
        margin: auto;

    }
    h1 {
        color: #025E73;
        text-align: center;
        text-shadow: 1px 1px 2px black;
    }
    h2 {
        color: #aa7514;
    }
    p {
        text-align: justify;
    }
    img {
        width: 250px;
    }