@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Categoria-colares */

.categ-colares {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    background-color: rgba(211, 211, 211, 0.692);
    padding: 10px;
}

.col-prodt {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 480px;
    background-color: white;

}