@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-image: linear-gradient(180deg, #686A6C,#75787aa1,#8c8e91);
    background-attachment: fixed;
    
}
h1{
    text-align: center;
}
div#bloco1 {
    background-color: white;
    height: auto;
    width: 950px;
    box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.61);
    border-radius: 15px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #3e4041a1;
    color: aliceblue;
    width: 35px;
    padding: 2px;
    text-decoration: none;
}
.botaonextprev:hover {
    background-color: darkblue;
    color: aliceblue;
}

.divp2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    width: 75px;
    padding-bottom: 5px;
}
.divp2 > p {
    display: none;
    font-size: normal;
    font-weight: 300;
    width: 900px;
    padding: 4px;
}
.divp2:hover > p {
    display: block;
    color: rgb(104, 33, 170);
    background-color: rgba(238, 130, 238, 0.315);

}



.divp3 {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    width: 75px;
    padding-bottom: 5px;
}
.divp3 > p {
    display: none;
    font-size: normal;
    font-weight: 300;
    width: 900px;
    padding: 4px;
}
.divp3:hover > p {
    display: block;
    color: rgb(104, 33, 170);
    background-color: rgba(238, 130, 238, 0.315);

}

.divp4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    width: 75px;
    padding-bottom: 5px;
}
.divp4 > p {
    display: none;
    font-size: normal;
    font-weight: 300;
    width: 900px;
    padding: 4px;
}
.divp4:hover > p {
    display: block;
    color: rgb(104, 33, 170);
    background-color: rgba(238, 130, 238, 0.315);

}

.divp5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    width: 75px;
    padding-bottom: 5px;
}
.divp5 > p {
    display: none;
    font-size: normal;
    font-weight: 300;
    width: 900px;
    padding: 4px;
}
.divp5:hover > p {
    display: block;
    color: rgb(104, 33, 170);
    background-color: rgba(238, 130, 238, 0.315);

}

.divp6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    width: 75px;
    padding-bottom: 5px;
}
.divp6 > p {
    display: none;
    font-size: normal;
    font-weight: 300;
    width: 900px;
    padding: 4px;
}
.divp6:hover > p {
    display: block;
    color: rgb(104, 33, 170);
    background-color: rgba(238, 130, 238, 0.315);

}


.divp7 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    width: 75px;
    padding-bottom: 5px;
}
.divp7 > p {
    display: none;
    font-size: normal;
    font-weight: 300;
    width: 900px;
    padding: 4px;
}
.divp7:hover > p {
    display: block;
    color: rgb(104, 33, 170);
    background-color: rgba(238, 130, 238, 0.315);

}

#bloco2 {
    background-color: white;
    height: auto;
    width: 950px;
    box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.61);
    border-radius: 15px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    text-align: center;
}


